html,
body
  overflow: hidden

body
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0

  .c-ide
    height: 100%

    .c-connections-explorer
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1)

      .c-connection-picker
        width: 300px
        padding: 10px

        .webui-popover--connection-picker
          width: 310px

      .c-applications-explorer
        overflow: auto

    .c-data-explorer
      overflow: scroll
